<section>
    <!-- <img src="/img/ellipse2.png" class="ellipse-2" alt="">
    <img src="/img/ellipse3.png" class="ellipse-3" alt=""> -->
    <div>
        <h1>Contact</h1>
    </div>
    <div class="contact-container">
        <div>
            <h2>Got a problem to solve?</h2>
            <span>Contact me through this form, I am interested in hearing from you, knowing your ideas and
                contributing to your projects with my work.</span>
            <span class="red">Need a Frontend developer? <b>Contact me!</b></span>
        </div>
        <div (click)="scrollToTop()" class="upbutton"></div>
        <!-- <div class="container"> -->
        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
            <div>
                <div class="form-fields">
                    <div>
                        <label for="name"></label>
                        <input #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" class="warning"
                            [ngClass]="{'success-icon': name.valid  , 'warning-icon': !name.valid && name.touched}"
                            name="name" placeholder="Your name.." required>

                        @if (!name.valid && name.touched){
                        <span class="warning-text">Your name is required</span>
                        }

                    </div>
                    <div>
                        <label for="email"></label>
                        <input #email="ngModel" [(ngModel)]="contactData.email" type="email" id="email"
                            [ngClass]="{'success-icon': email.valid  , 'warning-icon': !email.valid && email.touched}"
                            name="email" placeholder="Your mail.." required
                            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">

                        @if (!email.valid && email.touched){
                        <span class="warning-text">Your email is required</span>
                        }

                    </div>

                    <div>
                        <label for="message"></label>
                        <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message" id="message"
                            [ngClass]="{'success-icon-message': message.valid  , 'warning-icon-message': !message.valid && message.touched}"
                            name="message" placeholder="Write something.." style="height:200px" required></textarea>

                        @if (!message.valid && message.touched){
                        <span class="warning-text">Please enter a message</span>
                        }

                    </div>
                </div>

                <div class="checkbox-with-policy mt-16">
                    <div class="checkbox-container">
                        <input #checkbox="ngModel" [(ngModel)]="contactData.checked" name="myCheckbox" type="checkbox"
                            id="checkbox_id" (change)="onChange($event)" required>
                    </div>
                    <span class="consent-statement">I've read the <div class="privacy-link"><a>privacy policy</a></div> and agree to the
                        processing of
                        my data as outlined.</span>
                </div>

                @if (!checkbox.valid && checkbox.touched){
                <span class="warning-text"> Please accept the privacy policy</span>
                }



            </div>


            <input [ngClass]="{'btn-disabled': !contactForm.valid, 'btn-success': contactForm.valid}" type="submit"
                class="submit-button" value="Say hello :)" [disabled]="!contactForm.valid">





            <!--             
                <div class="checkbox-with-policy mt-16">
                    <label class="checkbox-container">
                        <input name="myCheckbox" type="checkbox" id="checkbox_id" (change)="onChange($event)" required>
                      
                    </label>
                    <span>I've read the <div class="privacy-link"><a>privacy policy</a></div> and agree to the
                        processing of
                        my data as outlined.</span>
                </div> -->






        </form>



    </div>
    
</section>