@import "../../../styles.scss";

::placeholder {
  color: black;
  opacity: 1; /* Firefox */
}

section {
  background: linear-gradient(to bottom, #ffffff, #ffeaea);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 100px;
}

h1 {
  font-size: 90px;
  line-height: 108px;
  font-family: $balooFont;
  color: $red;
}

h2 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  font-family: $montserratFont;
  color: $red;
}

form {
  width: 617px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"],
input[type="email"],
textarea {
  &:focus,
  &:hover {
    border-width: 2px;
  }
}

input[type="text"] {
  width: 100%;
  height: 50px;
  outline: none;
  border: 1px solid $red;
  border-radius: 10px;
  padding: 15px 25px;
  font-family: $montserratFont;
  font-size: 16px;
  margin-bottom: 4px;
}

input[type="email"] {
  width: 100%;
  height: 50px;
  outline: none;
  border: 1px solid $red;
  border-radius: 10px;
  padding: 15px 25px;
  font-family: $montserratFont;
  font-size: 16px;
  margin-bottom: 4px;
}

textarea {
  padding: 15px 25px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid $red;
  outline: none;
  resize: none;
  font-family: $montserratFont;
  font-size: 16px;
  width: 100%;
  height: 202px;
  max-height: 250px;
  min-height: 202px;
  max-width: 100%;
  min-width: 617px;
  margin-bottom: 4px;
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.d-none {
  display: none;
}

.mt-32 {
  margin-top: 32px;
}

.mt-16 {
  margin-top: 16px;
}

/* ---------------------------------------------------------------------------------------------------------------- */

.contact-container {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  padding-bottom: 100px;
  gap: 28px;
  z-index: 2;
  > div {
    display: flex;
    flex-direction: column;
    width: 473px;
    gap: 32px;
    span {
      font-family: $montserratFont;
      font-size: 16px;
    }
  }
}

.red {
  color: $red;
}
/* ---------------------------------------------------------------------------------------------------------------- */
.checkbox-with-policy {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 4px;

  &:hover {
    cursor: context-menu;
    .checkbox-container {
      background-color: #ffd6d6;
      border-radius: 36px;
      cursor: pointer;
    }

    .privacy-link {
      color: $red;
      text-decoration: underline;
      font-weight: bold;
    }
  }
}

.consent-statement {
  font-size: 14px;
  font-family: $montserratFont;
  display: flex;
}

.privacy-link {
  width: 110px;
  text-align: center;
  a {
    color: $red;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
      font-weight: bold;
    }
  }
}

.checkbox-container {
  height: 21px;
  width: 21px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #ffd6d6;
    border-radius: 36px;
    cursor: pointer;
  }
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: transparent;
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 18px;
  height: 18px;
  border: 2px solid $red;
  border-radius: 2px;
  // transform: translateY(-0.075em);

  display: grid;
  place-content: center;
  &:hover {
    cursor: pointer;
  }
}

input[type="checkbox"]::before {
  content: "";
  bottom: 2px;
  width: 9px;
  height: 9px;
  color: black;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em $red;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}
/* ---------------------------------------------------------------------------------------------------------------- */

.warning-text {
  color: $red;
  font-size: 14px;
  font-family: $montserratFont;
}

.warning-icon {
  background-image: url("../../../../public/img/error.png");
  background-repeat: no-repeat;
  background-position: 565px center;
}

.warning-icon-message {
  background-image: url("../../../../public/img/error.png");
  background-repeat: no-repeat;
  background-position: 565px 15px;
}

.success-icon {
  background-image: url("../../../../public/img/done.png") !important;
  background-repeat: no-repeat;
  background-position: 565px center;
}

.success-icon-message {
  background-image: url("../../../../public/img/done.png");
  background-repeat: no-repeat;
  background-position: 565px 15px;
}

.submit-button {
  width: fit-content;
  height: 58px;
  font-size: 23px;
  background-color: white;
  padding: 15px 30px;
  border: 2px solid $red;
  border-radius: 10px;
  font-family: $montserratFont;
  margin-top: 30px;
}

.btn-disabled {
  color: #bbbbbb;
  border-color: #bbbbbb;
}

.btn-success {
  color: $red;
  border-color: $red;
  background: {
    image: linear-gradient(45deg, $red 50%, $darkred 50%, transparent 50%);
    position: 100%;
    size: 400%;
  }

  &:hover {
    border: none;
    transition: background 300ms ease-in-out;
    transform: scale(1.08);
    background-position: 0;
    color: white;
    cursor: pointer;
  }
}

.upbutton {
  background: url("../../../../public/img/upbutton_filled.png") no-repeat;
  position: absolute;
  height: 40px;
  width: 40px !important;
  margin-top: 560px;
  margin-left: 1px;
  &:hover {
    cursor: pointer;
    background: url("../../../../public/img/upbutton_unfilled.png") no-repeat;
  }
}
.ellipse-container {
  position: absolute;
}
.ellipse-12 {
  height: 204px;
  width: 204px;
  position: relative;
  bottom: -421px;
  right: -132px;
}

.ellipse-13 {
  height: 73px;
  width: 73px;
  position: relative;
  bottom: -601px;
  right: -932px;
}

@media (max-width: 1350px) {
  .ellipse-12 {
    right: -92px;
  }
  .ellipse-13 {
    right: -802px;
    // bottom: -481px;
  }
}

@media (max-width: 1280px) {
  section {
    padding: 50px;
  }
}
@media (max-width: 1180px) {
  .ellipse-12 {
    bottom: -491px;
  }
  .ellipse-13 {
    right: -712px;
  }
}

@media (max-width: 1100px) {
  .ellipse-12 {
    scale: 0.8;
    right: -62px;
    bottom: -501px;
  }
  .ellipse-13 {
    scale: 0.8;
    right: -632px;
    bottom: -621px;
  }
}
@media (max-width: 1000px) {
  .ellipse-12 {
    scale: 0.7;
    right: -462px;
    bottom: -261px;
  }
  .ellipse-13 {
    scale: 0.8;
    right: -532px;
  }
}

@media (max-width: 900px) {
  section {
    padding: 25px;
  }

  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 23px;
  }

  form {
    width: 100%;
    > div {
      width: 100%;
    }
  }
  input[type="text"],
  input[type="email"] {
    width: 100%;
  }

  textarea {
    min-width: 340px;
    width: 100%;
  }
  .contact-container {
    flex-direction: column;
    margin-top: 0;
    > div {
      width: auto;
      gap: 12px;
    }
  }
  .form-fields {
    margin-top: 50px;
  }
  .upbutton {
    margin-top: 743px;
    margin-left: 0px;
  }

  .ellipse-12 {
    scale: 0.7;
    right: -302px;
    bottom: -371px;
  }
  .ellipse-13 {
    scale: 0.8;
    right: -392px;
    bottom: -631px;
  }
}
@media (max-width: 720px) {
  .ellipse-12 {
    right: -192px;
    bottom: -391px;
  }
  .ellipse-13 {
    right: -282px;
  }
}

@media (max-width: 640px) {
  .ellipse-12 {
    // right: -192px;
    // bottom: -361px;
  }
  .ellipse-13 {
    right: -232px;
    bottom: -661px;
  }
  .upbutton {
    margin-top: 773px;
  }
}

@media (max-width: 550px) {
  .ellipse-12 {
    right: -162px;
  }
  .ellipse-13 {
    right: -152px;
    bottom: -681px;
  }
}

@media (max-width: 470px) {
  .ellipse-12 {
    right: -112px;
  }
  .ellipse-13 {
    right: -112px;
  }
}

@media (max-width: 430px) {
  .ellipse-12 {
    scale: 0.7;
    right: -82px;
    bottom: -401px;
  }
  .ellipse-13 {
    scale: 0.7;
    right: -92px;
    bottom: -711px;
  }
  .upbutton {
    margin-top: 813px;
  }
}

@media (max-width: 400px) {
  textarea {
    min-width: 200px;
  }
  .ellipse-12 {
    bottom: -431px;
  }
  .ellipse-13 {
    right: -61px;
    bottom: -751px;
  }
}

@media (max-width: 360px) {
  section {
    padding: 10px;
  }
  .ellipse-12 {
    scale: 0.5;
    right: -65px;
    bottom: -413px;
  }
  .ellipse-13 {
    scale: 0.6;
    right: -27px;
    bottom: -781px;
  }
  .upbutton {
    margin-top: 853px;
  }
}
