<div class="wrapper">
    <section>
        <div class="img-container">
            <img src="/img/ellipse-high-screen-resolution.png" class="ellipse-big" alt="">
            <img src="/img/ellipse.png" class="ellipse1" alt="">
            <img src="/img/mobile_ellipse.png" class=" ellipse-mobile" alt="">
            <img src="/img/profile-test2.png" class="profile-picture" alt="">
        </div>
        <div class="right">
            <div>
                <H1 data-aos="fade-right" data-aos-duration="1000">{{ 'above-the-fold' | translate }}</H1>

                <span data-aos="fade-right" data-aos-duration="1000" class="main-headline">
                    <span class="frontend"> FRONTEND</span>
                    <span class="developer"> DEVELOPER</span>
                </span>
            </div>
            <div class="bottom">
                <div class="scroll-container">
                    <span>
                        SCROLL
                    </span>
                    <div>
                        <img src="/img/scrollVector.png" alt="">
                    </div>
                </div>
                <div class="socialmedia-icons">
                    <a href="https://github.com/LinaWionsek" target="_blank"><img src="/img/github_red.png" alt=""></a>

                    <a href="mailto:hallo@lina-wionsek.de"><img src="/img/email_red.png" alt=""></a>

                    <a href="https://www.linkedin.com/in/lina-wionsek-042719297/" target="_blank"><img
                            src="/img/linkedin_red.png" alt=""></a>
                </div>
            </div>
        </div>
    </section>
</div>