@import "../../../styles.scss";

section {
  background: linear-gradient(to bottom, #ffffff, #ffeaea);
  height: calc(100vh - 120px);
  max-height: calc(1600px - 120px);
  width: 100%;
  display: flex;
  justify-content: space-between;

  h1 {
    margin: 0;
    font-size: 64px;
    line-height: 64px;
    font-weight: 400;
    font-family: $montserratFont;
    color: $red;
  }
}

.img-container {
  display: flex;
  position: relative;
  .ellipse1 {
    position: relative;
    margin-top: -120px;
    height: 800px;
    width: 600px;
  }
  .profile-picture {
    position: absolute;
    bottom: 0;
    height: 900px;
  }
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  margin-right: 100px;
  padding-top: 50px;
  //   gap: -20px;
}

.main-headline {
  display: flex;
  flex-direction: column;
  margin: 0;
  //   font-size: 128px;
  font-weight: 800;
  font-family: $balooFont;
  color: $red;
}

.frontend {
  line-height: 153px;
  font-size: 128px;
}

.developer {
  line-height: 142px;
  font-size: 118px;
  margin-top: -40px;
}

.scroll-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $montserratFont;
  color: $red;
  font-weight: 500;
  font-size: 23px;

  img {
    margin-bottom: -7px;
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.socialmedia-icons {
  display: flex;
  flex-direction: column;
  position: relative;
  right: -250px;
  bottom: -85px;
  gap: 25px;
  height: fit-content;
  img {
    width: 40px;
    &:hover {
      transition: ease-in-out 0.2s;
      transform: translateX(-10px);
    }
  }
}
@media (max-width: 1366px) {
  section {
    h1 {
      font-size: 44px;
    }
  }
  .frontend {
    line-height: 133px;
    font-size: 108px;
  }

  .developer {
    line-height: 122px;
    font-size: 98px;
    margin-top: -40px;
  }
}
@media (max-width: 1280px) {
  section {
    h1 {
      font-size: 44px;
    }
  }
  .img-container {
    .ellipse1 {
      height: 750px;
      width: 550px;
      // height: 650px;
      // width: 450px;
    }
    .profile-picture {
      position: absolute;
      bottom: 0;
      height: 800px;
      // left: 120px;
    }
  }

  .right {
    // z-index: 1;
    margin-right: 50px;
  }

  .frontend {
    line-height: 133px;
    font-size: 108px;
  }

  .developer {
    line-height: 122px;
    font-size: 98px;
    margin-top: -40px;
  }
  .socialmedia-icons {
    right: -160px;
  }
}
@media (max-width: 1150px) {
  .img-container {
    .ellipse1 {
      height: 700px;
      width: 500px;
      // height: 650px;
      // width: 450px;
    }
    .profile-picture {
      position: absolute;
      bottom: 0;
      // height: 700px;
    }
  }
  .frontend {
    line-height: 123px;
    font-size: 98px;
  }
  .developer {
    line-height: 112px;
    font-size: 88px;
    margin-top: -40px;
  }
}

@media (max-width: 1050px) {
  section {
    h1 {
      font-size: 36px;
    }
  }

  .frontend {
    line-height: 88px;
    font-size: 73px;
  }

  .developer {
    line-height: 80px;
    font-size: 67px;
    margin-top: -20px;
  }
  .socialmedia-icons {
    right: -100px;
  }
}

@media (max-width: 920px) {
  .img-container {
        .ellipse1 {
        margin-left: -30px
        }
      }
}
// @media (max-width: 850px) {
//   .img-container {
//     .ellipse1 {
//     margin-left: -30px
//     }
//   }
// }

// @media (max-width: 810px) {
//   .img-container {
//     .ellipse1 {
//       height: 550px;
//       width: 350px;
//     }
//     .profile-picture {
//       height: 660px;
//     }
//   }
// }
@media (max-width: 900px) {
  // .ellipse-mobile {
  //   position: absolute;
  //   height: 80%;
  //   margin-top: -120px;
  // }

  section {
    justify-content: unset;
    h1 {
      color: white;
      font-size: 36px;
    }
  }

  .right {
    margin-left: 25px;
    padding-top: 0;
  }

  .img-container {
    .ellipse1 {
      height: 800px;
      width: 600px;
      position: absolute;
    }
    .profile-picture {
      position: absolute;
      bottom: 0;
      height: 660px;
      left: 40px;
    }
  }

  .right {
    z-index: 1;
  }

  .main-headline {
    color: white;
  }

  .frontend {
    line-height: 88px;
    font-size: 73px;
  }

  .developer {
    line-height: 80px;
    font-size: 67px;
    margin-top: -20px;
  }

  .bottom {
    display: none;
  }
}

@media (max-width: 610px) {
  .img-container {
    .ellipse1 {
      // height: 700px;
      // width: 500px;
    }
  }
}

@media (max-width: 510px) {
  .img-container {
    .ellipse1 {
      // height: 600px;
      // width: 400px;
    }
  }
}

@media (max-width: 410px) {
  section {
    h1 {
      font-size: 32px;
    }
  }
  .img-container {
    .ellipse1 {
      height: 610px;
      width: 350px;
    }
  }

  .frontend {
    line-height: 78px;
    font-size: 63px;
  }

  .developer {
    line-height: 70px;
    font-size: 57px;
    margin-top: -20px;
  }
}

@media (max-width: 350px) {
  section {
    h1 {
      font-size: 28px;
    }
  }
  .right {
    margin-left: 10px;
    padding-top: 0;
  }
  .frontend {
    font-size: 54px;
  }

  .developer {
    font-size: 50px;
    margin-top: -20px;
  }
}
