<section>


    <div class="ellipse-container">
        <div>
            <img src="/img/ellipse4.png" class="ellipse-4" alt="">
            <img src="/img/ellipse5.png" class="ellipse-5" alt="">
            <img src="/img/ellipse6.png" class="ellipse-6" alt="">
            <img src="/img/ellipse7.png" class="ellipse-7" alt="">
            <img src="/img/ellipse8.png" class="ellipse-8" alt="">
            <img src="/img/ellipse9.png" class="ellipse-9" alt="">
            <img src="/img/ellipse-mobile.png" class="ellipse-mobile" alt="">
        </div>
    </div>

    <div class="introduction">
        <h1> {{ 'my-work-title' | translate }}</h1>
        <span> 
            {{ 'my-work-description' | translate }}
        </span>
    </div>

    <app-projects></app-projects>

</section>