@import "../../../styles.scss";
section {
  margin: 150px 100px;
}
h1 {
  font-size: 96px;
  line-height: 96px;
  font-family: $balooFont;
  color: $red;
  margin-bottom: 50px;
}

span {
  font-family: $montserratFont;
  font-size: 23px;
  line-height: 28px;
  margin-bottom: 50px;
  display: block;
}
.introduction {
  max-width: 620px;
}

.ellipse-container {
  position: absolute;
  height: 100%;
  z-index: -1;
}

.ellipse-4 {
  position: relative;
  left: 37%;
  bottom: 65%;
}

.ellipse-5 {
  position: relative;
  bottom: 30%;
  left: 75%;
}

.ellipse-6 {
  position: relative;
  top: 37%;
  right: 31%;
}

.ellipse-7 {
  position: relative;
  top: 97%;
  left: 29.2%;
}

.ellipse-8 {
  position: relative;
  top: 77%;
  right: 95%;
}

.ellipse-9 {
  position: relative;
  top: 145%;
  right: 77%;
}
