<section>


    <div class="ellipse-container">
        <div>
            <img src="/img/ellipse4.png" class="ellipse-4" alt="">
            <img src="/img/ellipse5.png" class="ellipse-5" alt="">
            <img src="/img/ellipse6.png" class="ellipse-6" alt="">
            <img src="/img/ellipse7.png" class="ellipse-7" alt="">
            <img src="/img/ellipse8.png" class="ellipse-8" alt="">
            <img src="/img/ellipse9.png" class="ellipse-9" alt="">
        </div>
    </div>

    <div class="introduction">
        <h1>My work</h1>
        <span> Feel free to try out my latest development projects and look into their code.
            Explore a selection of my work here - Interact with projects to see my skills in action.
        </span>
    </div>

    <app-projects></app-projects>

</section>