@import "../../../styles.scss";


h1 {
  font-size: 96px;
  line-height: 96px;
  font-family: $balooFont;
  color: $red;
}

span {
  font-family: $montserratFont;
  font-size: 23px;
  line-height: 28px;
}