@import "../../../styles.scss";

section {
  margin: 100px;
  padding: 45px 0 45px 0;
}

h1 {
  font-size: 96px;
  line-height: 96px;
  font-family: $balooFont;
  color: $red;
  margin-bottom: 50px;
}

span {
  font-family: $montserratFont;
  font-size: 23px;
  // margin-bottom: 50px;
  display: block;
}

.introduction {
  max-width: 620px;
}

.ellipse-container {
  position: absolute;
  height: 100%;
  width: 90%;
  z-index: -1;
  div {
    height: 100%;
    position: relative;
  }
}

.ellipse-4,
.ellipse-5,
.ellipse-6,
.ellipse-7,
.ellipse-8,
.ellipse-9 {
  position: absolute;
  display: none;
}

.ellipse-4 {
  left: 450px;
  top: -92px;
}

.ellipse-5 {
  left: 1030px;
  top: 150px;
}

.ellipse-6 {
  left: -100px;
  top: 550px;
}

.ellipse-7 {
  // left: 760px;
  right: 0;
  top: 860px;
}

.ellipse-8 {
  /* left: 0px; */
  top: 1280px;
}

.ellipse-9 {
  left: 30px;
  top: 1724px;
}

@media (max-width: 1366px) {
  .ellipse-5 {
    left: 990px;
  }
  // .ellipse-7 {
  //   left: 776px;
  // }
}

@media (max-width: 1280px) {
  section {
    margin: 50px;
  }

  .ellipse-4 {
    top: -42px;
  }
  .ellipse-5 {
    left: 860px;
  }
 
  // .ellipse-7 {
  //   left: 588px; 
  // }
  .ellipse-9 {
    top: 1664px;
  }
}

@media (max-width: 1250px) {
  // .ellipse-7 {
  //   left: 560px;
  // }
}
@media (max-width: 1150px) {
  .ellipse-5 {
    left: 640px;
  }
  // .ellipse-7 {
  //   left: 457px;
  // }
}

@media (max-width: 1160px) {
  .ellipse-5 {
    left: 540px;
  }
  // .ellipse-7 {
  //   left: 357px;
  // }
}

@media (max-width: 950px) {
  .ellipse-5 {
    left: 540px;
  }
  // .ellipse-7 {
  //   left: 251px;
  // }
}

@media (max-width: 850px) {
  .ellipse-5 {
    left: 540px;
  }
  // .ellipse-7 {
  //   left: 144px;
  // }
}




@media (max-width: 900px) {
  .ellipse-5 {
    left: 0;
  }
  .ellipse-8 {
    top: 2000px;
  }
  .ellipse-9 {
    left: -80px;
    top: 2255px;
  }

  .ellipse-4,
  .ellipse-5,
  .ellipse-6,
  .ellipse-7,
  .ellipse-8,
  .ellipse-9 {
    display: none;
  }
}
