<section>
    <nav>
        <a href="" class="logo">
            <img src="/img/logo_new.png" alt="">
        </a>
        <!-- <a  href="" class="logo">
            <img src="/img/p_red.png" alt="">
        </a> -->

        <div class="menu-container">
            <div class="nav-links">
                <a href="#about_me">About me</a>
                <a href="#my_skills">Skill set</a>
                <a href="#my_work">My Work</a>
            </div>
            <div class="language">
                <a href="#language">EN</a>
            </div>
        </div>



        <img class="burger-menu" [src]="imgSrc" (click)="changeShowStatus()"
            (mouseover)="imgSrc = '/img/burger_hover.png'" (mouseout)="imgSrc = '/img/burger.png'" alt="">




    </nav>
    <div class="dialog" [ngClass]="{'show': show, 'hide': !show}">
        <div class="dialog-header">
            <a href="" class="logo">
                <img src="/img/p_red.png" alt="">
            </a>
            <img class="burger-menu" [src]="imgSrc" (click)="changeShowStatus()"
                (mouseover)="imgSrc = '/img/burger_hover.png'" (mouseout)="imgSrc = '/img/burger.png'" alt="">
        </div>

        <div class="dialog-links">
            <a (click)="closeDialog()" href="#about_me">About me</a>
            <a (click)="closeDialog()" href="#my_skills">Skill set</a>
            <a (click)="closeDialog()" href="#my_work">My Work</a>
            <a (click)="closeDialog()" href="#contact">Contact</a>
        </div>

    </div>
</section>