@import "../../../styles.scss";

section {
  width: 1440px;
}

nav {
  height: 120px;
  margin: 0px 100px;
  @include dFlex(space-between, center);
}

.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}
.menu-container {
  height: 100%;
}
.nav-links {
  font-family: $montserratFont;
  font-size: 23px;
  display: flex;
  align-items: center;
  gap: 36px;
  height: 100%;
  > a {
    width: 150px;
    text-decoration: none;
    color: $red;
    text-align: center;
    &:hover {
      font-weight: 700;
      cursor: pointer;
    }
  }
}

.logo {
  z-index: 5;
  height: 80px;
  width: 80px;
  padding-top: 1px;
  > img {
    height: 100%;
  }
}

.language {
  @include dFlex(center, center);
  flex-direction: column;
  width: fit-content;
  font-family: "Montserrat", sans-serif;
  position: relative;
  left: 560px;
  // bottom: 23px;
  bottom: 78px;
  a {
    color: $red;
    text-decoration: none;
    &:hover {
      color: black;
      cursor: pointer;
      font-weight: 700;
    }
  }
}

.language-mobile {
  width: 100% !important;
  @include dFlex(center, center);
  flex-direction: column;
  width: fit-content;
  font-family: "Montserrat", sans-serif;
  a {
    color: $red;
    text-decoration: none;
    &:hover {
      color: black;
      cursor: pointer;
      font-weight: 700;
    }
  }
}

.active {
  font-weight: 700;
  color: $red !important;
}

hr {
  height: 1px;
  width: 100%;
  border-width: 0;
  color: $red;
  background-color: $red;
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #ffffff, #ffeaea);
  @include dFlex(flex-start, center, 100px);
  flex-direction: column;
  z-index: 5;
  padding: 25px;
}

.dialog-header {
  width: 100%;
  @include dFlex(space-between, center);
}

.dialog-links {
  font-family: $montserratFont;
  font-size: 23px;
  @include dFlex(center, center, 36px);
  flex-direction: column;
  > a {
    width: 160px;
    text-decoration: none;
    color: $red;
    text-align: center;
    &:hover {
      cursor: pointer;
      font-weight: 700;
    }
  }
}
.z-index-5{
  z-index: 5;
}

.show {
  display: flex;
  width: 100vw;
}

.hide {
  display: none;
}

.burger-menu {
  display: none;
  z-index: 5;
  &:hover {
    cursor: pointer;
    background-image: url("../../../../public/img/burger_hover.png");
  }
}

.close-symbol {
  &:hover {
    cursor: pointer;
    background-image: url("../../../../public/img/close_hover.png");
  }
}

// Media

@media (max-width: 1440px) {
  section {
    width: 100%;
  }
}
@media (max-width: 1280px) {
  nav {
    margin: 0px 50px;
  }

  .nav-links {
    gap: 18px;
  }

  .language {
    left: 500px;
  }
}

@media (max-width: 1000px) {
  .nav-links {
    gap: 8px;
  }

  .language {
    left: 480px;
  }
}

@media (max-width: 900px) {
  .burger-menu {
    display: block;
  }

  nav {
    height: 120px;
    margin: 0px 25px;
    @include dFlex(space-between, center);
  }

  .menu-container {
    display: none;
  }
}

@media (max-width: 350px) {
  nav {
    height: 120px;
    margin: 0px 10px;
    @include dFlex(space-between, center);
  }
}
