@import "../../../styles.scss";

section {
  width: 100%;
}

nav {
  height: 120px;
  margin: 0px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  font-family: $montserratFont;
  font-size: 23px;
  display: flex;
  gap: 36px;
  > a {
    width: 150px;
    text-decoration: none;
    color: $red;
    text-align: center;
    &:hover {
      font-weight: 700;
      cursor: pointer;
    }
  }
}

.logo {
  z-index: 5;
  > img {
    height: 80px;
    width: 80px;
  }
}

.language {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  font-family: "Montserrat", sans-serif;
  position: relative;
  // left: 470px;
  left: 550px;
  bottom: 23px;

  a {
    color: $red;
    text-decoration: none;
    &:hover {
      color: black;
      cursor: pointer;
      font-weight: 700;
    }
  }
}

.language-mobile {
  width: 100% !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  font-family: "Montserrat", sans-serif;
  a {
    color: $red;
    text-decoration: none;
    &:hover {
      color: black;
      cursor: pointer;
      font-weight: 700;
    }
  }
}

.active {
  font-weight: 700;
  color: $red !important;
}

hr {
  height: 1px;
  width: 100%;
  border-width: 0;
  color: $red;
  background-color: $red;
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #ffffff, #ffeaea);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 5;
  padding: 25px;
  gap: 150px;
}

.dialog-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialog-links {
  font-family: $montserratFont;
  font-size: 23px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  > a {
    width: 160px;
    text-decoration: none;
    color: $red;
    text-align: center;
    &:hover {
      font-weight: 700;
    }
  }
}

.show {
  display: flex;
}
.hide {
  display: none;
}
.burger-menu {
  display: none;
  z-index: 5;
  &:hover {
    cursor: pointer;
    content: url("../../../../public/img/burger_hover.png");
  }
}

.close-symbol {
  &:hover {
    cursor: pointer;
    content: url("../../../../public/img/close_hover.png");
  }
}

// Media
@media (max-width: 1280px) {
  nav {
    margin: 0px 50px;
  }
  .nav-links {
    gap: 18px;
  }
  .language {
    left: 410px;
  }
}

@media (max-width: 1000px) {
  .nav-links {
    gap: 8px;
  }
  .language {
    left: 390px;
  }
}
@media (max-width: 900px) {
  .burger-menu {
    display: block;
  }
  nav {
    height: 120px;
    margin: 0px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-container {
    display: none;
  }
}

@media (max-width: 350px) {
  nav {
    height: 120px;
    margin: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
