<section>
   

    <div class="content">
        @for(singleproject of projectsservice.projects; track singleproject.name; let index = $index;){


        <div [ngStyle]="{ 'flex-direction': index === 1 ? 'row-reverse' : 'row' }" class="project-container">

            <a [href]="singleproject.demo" target="_blank">
                <img class="preview" src="/img/{{singleproject.img}}">
            </a>

            <div [ngClass]="{'project-info-reverse': index === 1}" class="project-info">
                <div class="headline">{{singleproject.name}}</div>
                <div class="stack">{{singleproject.stack}}</div>
                <div class="description">{{singleproject.description}}</div>
                <div><button (click)="openURL(singleproject.github)" target="_blank">Github</button></div>
            </div>

        </div>

        }

    </div>



</section>