@import "../../../../styles.scss";
.content {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.project-container {
  display: flex;
  margin-top: 100px;
  gap: 75px;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.project-info-reverse {
  align-items: flex-end;
  text-align: end;
}

.project-headline {
  font-size: 45px;
  line-height: 54px;
  font-weight: 700;
  font-family: $balooFont;
  color: $red;
}

.project-tech-stack {
  font-family: $montserratFont;
  color: $red;
  font-size: 23px;
  line-height: 28px;
}

.project-description {
  font-family: $montserratFont;
  font-size: 16px;
  line-height: 19px;
  margin-top: 15px;
}

button {
  height: 58px;
  width: 137px;
  border-radius: 10px;
  border: 2px solid $red;
  color: $red;
  background-color: white;
  font-family: $montserratFont;
  font-size: 23px;
  line-height: 28px;
  margin-top: 30px;
  padding: 15px 30px;
}

.project-demo {
  &:hover {
    cursor: pointer;
  }
}

