<section>
    <div class="content">
        @for(singleproject of projectsservice.projects; track singleproject.name; let index = $index;){
        <div [ngStyle]="{ 'flex-direction': index === 1 ? 'row-reverse' : 'row' }" [attr.data-aos]="index === 1 ? 'slide-right' : 'slide-right'"  [attr.data-aos-duration]="2500" class="project-container">
            <a [href]="singleproject.demo" target="_blank" class="project-demo">
                <img src="/img/{{singleproject.img}}" class="project-img">
            </a>
            <div [ngClass]="{'project-info-reverse': index === 1}" class="project-info">
                <div class="project-headline">{{singleproject.name}}</div>
                <div class="project-tech-stack">{{singleproject.tech_stack}}</div>
                <div *ngIf="englishLang" class="project-description">{{singleproject.description}}</div>
                <div *ngIf="!englishLang" class="project-description">{{singleproject.description_de}}</div>
                <div [ngStyle]="{ 'justify-content': index === 1 ? 'flex-end' : 'flex-start' }" class="project-buttons">
                    <button class="live-test-btn" (click)="openURL(singleproject.demo)" target="_blank">Live
                        test</button>
                    <button class="btn" (click)="openURL(singleproject.github)" target="_blank">Github</button>
                </div>
            </div>
        </div>
        }
    </div>
</section>