@import "../../../styles.scss";

section {
  @include dFlex(center, center);
  flex-direction: column;
  margin: 0px 100px 100px 100px;
}

.work-together-container {
  @include dFlex(space-between, flex-start);
  width: 100%;
  margin-top: 30px;
}

.ellipse-2 {
  height: 206px;
  width: 206px;
  margin-top: -103px;
  z-index: 1;
}

.ellipse-3 {
  height: 82px;
  width: 82px;
  margin-left: 650px;
  margin-top: -41px;
}

.headline-container {
  display: flex;
  flex-direction: column !important;
}

.headline {
  font-family: $balooFont;
  color: $red;
  font-size: 121px;
  font-weight: 800;
  letter-spacing: 1%;
  line-height: 121px;
}

.mt-60neg {
  margin-top: -60px;
}

.description-container {
  height: 100%;
  @include dFlex(center, center, 20px);
  flex-direction: column;
  font-family: $montserratFont;
  font-size: 23px;
  padding-top: 30px;
  > span {
    width: 570px;
  }
}

.button {
  width: 254px;
  height: 58px;
  font-size: 23px;
  color: $red;
  background-color: white;
  padding: 15px 30px;
  border: 2px solid $red;
  border-radius: 10px;
  font-family: $montserratFont;
}

.btn {
  @include dFlex(center, center);
  width: 254px;
  height: 58px;
  font-size: 23px;
  background-color: white;
  color: $red;
  padding: 15px 30px;
  border: 2px solid $red;
  border-radius: 10px;
  font-family: $montserratFont;
  background: {
    image: linear-gradient(45deg, $red 50%, $darkred 50%, transparent 50%);
    position: 100%;
    size: 400%;
  }

  &:hover {
    border: none;
    transition: background 300ms ease-in-out;
    transform: scale(1.08);
    background-position: 0;
    color: white;
    cursor: pointer;
  }
}

@media (max-width: 1280px) {
  section {
    margin: 0px 50px 50px 50px;
  }

  .work-together-container {
    gap: 20px;
  }

  .description-container {
    > span {
      width: auto;
    }
  }
}

@media (max-width: 900px) {
  section {
    margin: 0px 25px 50px 25px;
  }

  .work-together-container {
    flex-direction: column;
  }

  .headline {
    font-size: 64px;
    line-height: 77px;
  }

  .mt-60neg {
    margin-top: -20px !important;
  }

  .description-container {
    font-size: 16px;
  }

  .btn {
    width: 242px;
    height: 54px;
    padding: 13px 24px;
  }

  .ellipse-3 {
    margin-left: 500px;
  }
}

@media (max-width: 650px) {
  .ellipse-2 {
    scale: 0.8;
  }

  .ellipse-3 {
    margin-left: 290px;
    scale: 0.8;
  }
}

@media (max-width: 400px) {
  .ellipse-2 {
    scale: 0.6;
  }

  .ellipse-3 {
    margin-left: 210px;
    scale: 0.6;
  }
}

@media (max-width: 360px) {
  section {
    margin: 0px 10px 20px 10px;
  }
}
