
<section>
    <img src="/img/ellipse2.png" class="ellipse-2" alt="">
    <img src="/img/ellipse3.png" class="ellipse-3" alt="">
    <div class="work-together-container">
        <div class="headline-container">
            <span class="headline">Let's&nbsp;work</span>
            <span class="headline mt-60neg" style="margin-top: -60px;">together</span>
        </div>
     
        <div class="description-container">
            <span>
                Ich bin eine Frontend Entwicklerin aus Mönchengladbach und liebe es, mit Angular und JavaScript Webanwendungen zu erstellen.<br>
                Durch mein Auge für Details und meinen technischen Fähigkeiten bin ich in der Lage, Projekte umzusetzen, die optisch ansprechend und userfreundlich sind.<br><br>
                Ich freue mich auf neue Herausforderungen und bin offen mich auch in andere Frameworks wie React.js oder Vue.js einzuarbeiten.<br>
                </span>
                <button>Send a message</button>
        </div>
    </div>
    
</section>