@import "../../styles.scss";

section {
  font-family: $montserratFont;
  font-size: 16px;
  background: linear-gradient(to bottom, white, #ffeaea);
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

a {
  color: black;
}

@media (max-width: 1280px) {
  section {
    padding: 50px;
  }
}

@media (max-width: 900px) {
  section {
    padding: 25px;
  }
}

@media (max-width: 360px) {
  section {
    padding: 10px;
  }
}