@import "../../styles.scss";

section {
  font-family: $montserratFont;
  font-size: 16px;
  background: linear-gradient(to bottom, white, #ffeaea);
  padding: 100px;
}

p {
  margin: 16px 0px;
}

a {
    color: black;
}