@import "../../styles.scss";

section {
  font-family: $montserratFont;
  font-size: 16px;
  background: linear-gradient(to bottom, white, #ffeaea);
  padding: 100px;
}

::ng-deep p {
  margin: 16px 0px;
}

::ng-deep a {
    color: black;
}

.img-container {
  display: flex;
  justify-content: flex-end;
  img {
    height: 40px;
    width: 40px;
    &:hover {
      cursor: pointer;
    }
  }
}

@media (max-width: 1280px) {
  section {
    padding: 50px;
  }
}

@media (max-width: 900px) {
  section {
    padding: 25px;
  }
}

@media (max-width: 360px) {
  section {
    padding: 10px;
  }
}