@import "../../../styles.scss";

section {
  background-color: $red;
  display: flex;
  flex-direction: column;
  padding: 50px 100px;
  font-family: $montserratFont;
  color: white;
  background: linear-gradient(to right, $red, #de0000);
}

span {
  font-size: 23px;
  height: 30px;
}

.main-content {
  @include dFlex(space-between, center);
  margin-top: 60px;
  margin-bottom: 30px;
}

.logo-container {
  height: 30px;
  width: 242px;
}

.placeholder {
  height: 30px;
  width: 100%;
}

.logo {
  height: 30px;
  z-index: 5;
}

.footer-right {
  @include dFlex(space-between, center);
  width: 242px;
  img {
    height: 30px;
    width: 30px;
    &:hover {
      cursor: pointer;
      transition: ease-in-out 0.1s;
      transform: scale(1.3);
    }
  }
}

.social-media-icon {
  width: 100%;
  @include dFlex(center, center);
}

.impressum-container {
  @include dFlex(center, center);
  width: 100%;
  height: 30px;
  a {
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    font-size: 16px;
    text-align: center;
    &:hover {
      font-weight: 600;
    }
  }
}

/* Impressum hover underline animation */
/* ---------------------------------------------------------------------------------------------------------------- */
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: white;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 50%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 25%;
  right: 25%;
  background-color: white;
  transform-origin: bottom left;
  transition: transform 0.05s ease-in-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}
/* ---------------------------------------------------------------------------------------------------------------- */

@media (max-width: 1280px) {
  section {
    padding: 50px;
  }
}

@media (max-width: 900px) {
  section {
    padding: 25px;
  }
  .main-content {
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .logo-container {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 360px) {
  section {
    padding: 10px;
  }
}
