<section>



    <div class="main-content">
        <div class="logo-container">
            <img (click)="scrollToTop()" class="logo" src="/img/p_white_copy.png" alt="">
        </div>
        <span>© Lina Wionsek 2024</span>
        <div class="footer-right">

            <a href="https://github.com/LinaWionsek" target="_blank" class="social-media-icon">
                <img src="/img/github_white.png" alt=""></a>

            <a href="mailto:hallo@lina-wionsek.de" class="social-media-icon">
                <img src="/img/email_white.png" alt="">
            </a>

            <a href="https://www.linkedin.com/in/lina-wionsek-042719297/" target="_blank" class="social-media-icon">
                <img src="/img/linkedin_white.png" alt="">
            </a>



        </div>
    </div>



    <div class="impressum-container">



        <div class="impressum-link">
            <a href="imprint" class="hover-underline-animation">Impressum</a>
        </div>


    </div>




</section>